.panel_toolbox {
	min-width: 0px;
}
input.item-error {
	border: 1px solid red;
}
span.item-error {
	color: red;
}
.container{
    /*margin-top:20px;*/
}
/*.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
img{
  max-width:180px;
}*/
/*input[type=file]{
padding:10px;
background:#2d2d2d;
}*/